.nav ul {
    *zoom: 1;
    list-style: none;
    margin: 0;
    padding: 0;
    background: #ffffff;
}

.nav ul:before,
.nav ul:after {
    content: "";
    display: table;
}

.nav ul:after {
    clear: both;
}

.nav ul > li {
    float: left;
    position: relative;
}

.nav a {
    display: block;
    padding: 20px 25px;
    line-height: 1.2em;
    font-size: bold;
    color: #000000;
    border-left: 1px solid #d4d4d4;
}

.nav a:hover {
    color: aliceblue;
    text-decoration: none;
    background: #9c99c4;
}

.nav li ul {
    background-color: #bcbdbd;
}

.nav li ul li {
    width: 100%;
    margin: auto;
}

.nav li ul a {
    border: none;
    padding-left: 10px;
}

.nav li ul a:hover {

    background: rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 890px) {
    /* Dispositivos móveis */
    html,
    body {
        
    }

    .nav a {
        padding: 10px 10px;
        margin: 0 auto;
        line-height: 0.8em;
        font-size: 0.7em;
        color: #000000;
    }
    
}
